version: "3"
services:
  db:
    image: mysql:8.0.32
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: myapp_development
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
  rails:
    build:
      context: ./rails
    # command: bash -c "bundle exec rails s -b '0.0.0.0'" # コンテナ起動時にrails s する
    command: bash -c "tail -f log/development.log" # コンテナ起動後にコンテナが終了しないように適当な常時起動コマンドを実行（ここではログ）
    volumes:
      - ./rails:/myapp
    ports:
      - 3000:3000
    depends_on:
      - db
    tty: true
    stdin_open: true
volumes:
  mysql_data:
